@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
    padding: 0;
    margin: 0;
    font-family: Verdana;
    font-size: 15px;
}

hr{
   border: 1px solid #FFFFFF;
}

a:link{
	color:#0055CC;
}
a:visited{
		color:#990099;
}
a:hover{
		color:#CC0000;
}

th{
	background-color:#FFFFFF;
 	font-weight:bold;
}

td{
	background-color:#ecf7fe;
 	text-align:center;
}

select {
    font-size: 15px;
    padding: 5px;
}

.selector {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 16px;
    margin: 0;
}

#chartdiv {
    width: 100%;
    height: 400px;
}